*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.wholepage{
        zoom: 70%; 
}

body{
    font-family:Arial;
    color:rgb(198, 219, 219);
    font-size: 20;
    background-image:url(Pictures/blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

/*Background*/
 .container{
    width: 100%;
    padding-left:25%;
    padding-right:0%;
}
 

/*Border*/
.bordered {
    position: relative;
    width: 926px;
    height: 300px;
    padding: 20px;
    border: 9px inset rgba(145, 105, 154, 0.651);
    background: linear-gradient(45deg,#5e83d1, #a34d83);
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
    color:rgb(7, 4, 7);
    text-align: center;
}

.puppy {
    float:right;
    height: 300px;
    width: 375px;
    background: url(Pictures/puppy.jpg);
    background-size:contain;
    background-repeat: no-repeat;
} 


/*Heading */
h3{
    font-family:Lucida Handwriting;
    font-weight: bold;
    font-size: 26;
} 
/*Sub-heading */
h4{
    font-family:Monaco;
    font-size: 25; 
    font-weight:bolder;
} 

/*paragraph */
.content p{
    width: 926px;
    margin-right: 35%;
    font-size: 24;
}
.links a{
    color:rgb(198, 219, 219);
}
.links a:hover{
    color:rgb(172, 202, 231);
}
/*list of items */
li{
    color:rgb(198, 219, 219);
    font-size:24px;
    list-style:none;
}
li:not(:last-child){
    margin-bottom:5px;
    color:rgb(198, 219, 219);

}
li:before{
    content: url('Pictures/blue-star.gif');
    background-color: rgba(198, 219, 219, 0.521);
}

/*Buttons*/
.list{
   text-transform:uppercase; 
   letter-spacing: 2.5px;
}
.list .btn {
    display: inline-block;
    background: linear-gradient(45deg,#5e83d1, #a34d83);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(22, 12, 22);
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
    font-weight: bold;
}

/*Icons*/

.social-facebook{
    color:#3477eb;
    transition:color 0.2s;
    text-decoration: none;
    margin: 2px;
    font-size: 45px ;
}
 .social-facebook:hover {
    color:rgb(43, 80, 190);
}

.social-instagram{
    color:#9e216e;
    transition:color 0.2s;
    text-decoration: none;
    margin: 2px;
    font-size: 42px ;
    
}
    .social-instagram:hover {
    color:rgb(129, 3, 91);
}

.social-twitter{
    color:#2bb9f1;
    transition:color 0.2s;
    text-decoration: none;
    margin: 2px;
    font-size: 43px ;
}
    .social-twitter:hover {
    color:rgb(6, 130, 179);
}

.social-youtube{
    color:#be4545;
    transition:color 0.2s;
    text-decoration: none;
    margin: 2px;
    font-size: 43px ;
}
    .social-youtube:hover {
    color:rgb(128, 4, 4);
}

 /*Border*/
.border{
    border-style:solid;
    border-color:rgba(255, 255, 255, 0.562);
    width: 926px;
} 

/*Bottom*/
h6{ 
    
    font-family:Arial;
    color:rgb(198, 219, 219);
    font-size: 18;
    position: relative;
}