html,
body {
  scroll-behavior:smooth;
  background-color: rgb(51, 87, 132);
  font-family:"Quicksand", serif;  
}

.tableContainer{
  line-height: 25px;
  width: 900px;
  color: rgb(255, 255, 255); 
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.container{
  width: 75%;
  margin: auto;    
}

input{
  background-color: rgb(249, 241, 241);
}
#columns, #rows{
  color: rgb(133, 6, 27);
  font-size: 14px;
}
button{
  color: rgb(133, 6, 27);
  font-size: 14px;
  width: 70px;
  background-color: rgb(249, 241, 241);
  border : solid 1.5px #cd8998;
  cursor: pointer;
}
button:hover{
  background:#e5bdc6; 
  border : solid 1.5px #cd8998;
  color: rgb(33, 70, 116);
}

/*picture*/
#sheep{
  width: 500px;
  height: 435px;
  margin-top: 38px;
  margin-left: 190px;
}

/*table*/
table, th, td {
  border: 1px solid #ffc0cb;
  text-align: center;
  color: aliceblue;
  cursor: pointer;
}
table {
  margin-top: 15px;
  border: 4px solid pink;
  background: linear-gradient(45deg,#533f43, #a5596d);
  overflow: hidden;
}
td {
  width: 70px;
}

/*zoom and highlight*/
.zoomCell {
  transform: scale(1.3);
  transition: transform 0.4s ease-in-out;
}
.highlightCell {
  background: linear-gradient(45deg, rgb(232, 161, 161), #e5bdc6);
  color:  #ffffff;
  font-weight: bold;
}

/*footer*/
h6 {
  text-align: center;
  position:relative; 
  line-height: 20px ;
}
.Copyright{ 
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 0;
  height: 55px;   
  background: rgb(138, 102, 109);
  width: 100%;
}
#webpage-link{
  color: rgb(255, 255, 255);
}
#webpage-link:hover{
  color: rgb(173, 195, 227);
}