body {
    font-family:"Quicksand", serif;
    font-size: 15px;  
    background-color: rgb(113, 95, 73);

}
.container{
    margin-left: 10%;
    margin-right: 10%;
    width: 1000px;
    margin: 0 auto;  
}
canvas {
    display: block;
    cursor: url('images/hammer.png'), auto;
    border: 3px solid rgb(32, 97, 1);
    margin-left: auto;	
    margin-right: auto;	
}
h1 {
    text-align: center;
    font-size:25px; 
    font-weight:320; 
    color:rgb(212, 251, 206);
    letter-spacing:1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 25px 0;
    grid-gap: 22px;
    align-items: center;
    margin-top: 35px;
    text-shadow: 0 0 4px rgb(253, 253, 253);

}
h1:after,h1:before {
    content: " ";
    border-bottom: 1.2px solid rgb(78, 211, 78);
    border-top: 1.2px solid rgb(176, 241, 174);
    height: 5px; 
    display: block;
}
table{
    margin-top: -18px;
}
#scoreBtn, #speedBtn {
    background-color: rgb(159, 227, 95);; 
    color: #7a4c06; 
    border: 2px solid #205f09;
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 0 0 4px rgb(253, 253, 253);
    cursor: pointer;
    width: 115px;
}
#tdScore{
    width: 220px;

}
#tdSpeed{
    width: 250px;
}
#tdTime{
    width: 20000px;
}

#scoreBtn:hover, #speedBtn:hover {
    background-color: #c2f397; 
    color: rgb(12, 187, 12); 
}

#score{
    color: rgb(210, 243, 180);  
    line-height: 0.1px;
    font-weight: bold;
}

#time{
    color: rgb(210, 243, 180);
    line-height: 0.1px;
}
/*Footer*/
footer {
    position: relative; 
    margin-top: 40px;
}
h6 {
    text-align: center;
    position:relative; 
    line-height: 20px ;
    margin-bottom: 2px;
}
.Copyright{ 
  color: rgb(244, 253, 234);
  position: relative;
  bottom: 0;
  height: 55px;   
  background: rgb(138, 102, 109);
  width: 100%;
}
.Copyright a{ 
    color: rgb(255, 255, 255);
}
.Copyright a:hover{ 
   color: rgb(212, 252, 194);
}
   

 
